@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Special+Elite&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.active::before{
  position: absolute;
  z-index: -1;
  transform: rotate(10deg);
  content: "";
  width: 42px;
  display: block;
  border: 10px solid #141414;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.active::after{
  position: absolute;
  z-index: -1;
  transform: rotate(10deg);
  content: "";
  width: 42px;
  display: block;
  border: 7px solid #141414;
  border-left-color: transparent;
}
.active::before{
  top: -14px;
  right: 2px;
}
.active::after{
  bottom:-14px;
  left: 2px;
}
